<%= Gon::Base.render_data %>

<div class="overlay">
  <div id="map-add-button" style= "inline-block" class="button-overlay xlarge red" data-toggle="collapse" data-target="#collapse-add-options">
    <%= icon('fas', 'plus') %>
  </div>

  <div id="collapse-add-options" class="collapse width" style="width: 0px">

    <div class="toggle-add-malaria-reports button-overlay menu-option">
      <p class="tooltiptext m-tooltiptext">Report Malaria Outbreak</p>
      <%= icon('fas', 'flag') %>
    </div>

    <div class="toggle-add-future-spray-locations button-overlay menu-option">
      <p class="tooltiptext f-tooltiptext">Add Future Spray Location</p>
      <%= icon('fas', 'calendar-plus') %>
    </div>
  </div>

</div>
<div id="map"></div>

<div id="add_malaria_reports" class="modal fade add_malaria_reports_modal" role="dialog">
  <div class="modal-dialog modal-md">
    <%= form_for("", html: {class: 'form-horizontal'}, url: add_malaria_reports_path, method: :post) do |f| %>
      <div class="modal-content" style="width: 600px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Malaria Report</h4>
        </div>
        <div class="modal-body">
          <h6 class="l-v-bottom-spaced">Add Malaria Report</h6>
          <p class="l-v-bottom-half-spaced">
            Are you sure you want to add a report at <br>
            LatLng: (&nbsp;
            <span class="report_lat"></span>
            , &nbsp;
            <span class="report_lng"></span>
            )?
          </p>
          <%= f.hidden_field :lat, value: 0, id: "add_malaria_reports_lat", name: "malaria_report[lat]" %>
          <%= f.hidden_field :lng, value: 0, id: "add_malaria_reports_lng", name: "malaria_report[lng]" %>
          <%= label_tag(:add_malaria_reports_reporter, "Reporter:") %>
          <%= f.text_field :reporter, value: "", id: "add_malaria_reports_reporter", name: "malaria_report[reporter]" %>
          <br>
          <%= label_tag(:add_malaria_reports_dateTime, "Report Time:") %>
          <%= f.text_field :dateTime, value: "", id: "add_malaria_reports_dateTime", name: "malaria_report[dateTime]" %>
        </div>
        <div class="modal-footer">
          <%= f.submit 'Add', class: "button button-danger modal-default" %>
          <button type="button" class="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="add_future_spray_locations" class="modal fade add_malaria_reports_modal" role="dialog">
  <div class="modal-dialog modal-md">
    <%= form_for("", html: {class: 'form-horizontal'}, url: add_future_spray_locations_path, method: :post) do |f| %>
      <div class="modal-content" style="width: 600px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Future Spray Location</h4>
        </div>
        <div class="modal-body">
          <h6 class="l-v-bottom-spaced">Add Future Spray Location</h6>
          <p class="l-v-bottom-half-spaced">
            Are you sure you want to add a report at <br>
            LatLng: (&nbsp;
            <span class="report_lat"></span>
            , &nbsp;
            <span class="report_lng"></span>
            )?
          </p>
          <%= f.hidden_field :lat, value: 0, id: "add_future_spray_location_lat", name: "future_spray_location[lat]" %>
          <%= f.hidden_field :lng, value: 0, id: "add_future_spray_location_lng", name: "future_spray_location[lng]" %>
          <%= label_tag(:add_future_spray_location_reporter, "Reporter:") %>
          <%= f.text_field :reporter, value: "", id: "add_future_spray_location_reporter", name: "future_spray_location[reporter]" %>
          <br>
          <%= label_tag(:add_future_spray_location_dateTime, "Report Time:") %>
          <%= f.text_field :dateTime, value: "", id: "add_future_spray_location_dateTime", name: "future_spray_location[dateTime]" %>
        </div>
        <div class="modal-footer">
          <%= f.submit 'Add', class: "button button-danger modal-default" %>
          <button type="button" class="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="delete_malaria_reports" class="modal fade delete_malaria_reports_modal" role="dialog">
  <div class="modal-dialog modal-md">
    <%= form_for("", html: {class: 'form-horizontal'}, url: delete_malaria_reports_path(1), method: :post) do |f| %>
      <div class="modal-content" style="width: 600px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Malaria Report</h4>
        </div>
        <div class="modal-body">
          <h6 class="l-v-bottom-spaced">Delete Report</h6>
          <p class="l-v-bottom-half-spaced">
            Are you sure you want to delete report (ID:&nbsp;
            <span class="report_id"></span>
            ), recorded at&nbsp;
            <span class="report_date"></span>
            ?
          </p>
          <%= f.hidden_field :id, value: 0, id: "delete_malaria_reports_id", name: "malaria_report[id]" %>
        </div>
        <div class="modal-footer">
          <%= f.submit 'Delete', class: "button button-danger modal-default" %>
          <button type="button" class="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="delete_future_spray_locations" class="modal fade delete_future_spray_locations_modal" role="dialog">
  <div class="modal-dialog modal-md">
    <%= form_for("", html: {class: 'form-horizontal'}, url: delete_future_spray_locations_path(1), method: :post) do |f| %>
      <div class="modal-content" style="width: 600px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Future Spray Location</h4>
        </div>
        <div class="modal-body">
          <h6 class="l-v-bottom-spaced">Delete Report</h6>
          <p class="l-v-bottom-half-spaced">
            Are you sure you want to delete report (ID:&nbsp;
            <span class="report_id"></span>
            ), recorded at&nbsp;
            <span class="report_date"></span>
            ?
          </p>
          <%= f.hidden_field :id, value: 0, id: "delete_future_spray_locations_id", name: "future_spray_location[id]" %>
        </div>
        <div class="modal-footer">
          <%= f.submit 'Delete', class: "button button-danger modal-default" %>
          <button type="button" class="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
