<%= Gon::Base.render_data %>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red"><%= icon('fas', 'plus') %></a>
    <ul>
      <li><a class="btn-floating red toggle-add-malaria-reports"><%= icon('fas', 'flag') %></a></li>
      <li><a class="btn-floating yellow darken-2 toggle-add-future-spray-locations"><%= icon('fas', 'calendar-plus') %></a></li>
      <li><a class="btn-floating blue toggle-add-spray-data"><%= icon('fas', 'chart-line') %></a></li>
  </ul>
</div>

<div id="map"></div>

<div id="add_pin" class="modal">
    <%= form_for("", html: {class: 'form-horizontal'}, url: "", method: :post) do |f| %>
    <div class="modal-content">
      <button class="right close modal-close">&times;</button>
      <h4 class="modal-title"><span class="report_title"></span></h4>
      <h6>Submit Report</h6>
      <br>
      <p>Are you sure you want to add a report at: <strong><span class="report_lat"></span>, <span class="report_lng"></span></strong>?</p>
      <%= f.hidden_field :lat, value: 0, id: "add_pin_lat", name: "" %>
      <%= f.hidden_field :lng, value: 0, id: "add_pin_lng", name: "" %>
      <div class="field form-group">
        <%= label_tag( :add_malaria_reports_reporter, "Reporter:", class: "control-label" ) %>
        <%= f.text_field :reporter, value: "", id: "add_pin_reporter", name: "" %>
      </div>
      <div class="field form-group">
        <%= label_tag(:add_malaria_reports_dateTime, "Report Time:", class: "control-label") %>
        <%= f.text_field :dateTime, value: "", id: "add_pin_dateTime", name: "" %>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn grey modal-close">Cancel</a>
      <%= f.submit 'Add', class: "btn modal-close" %>
    </div>
  <% end %>
</div>

<div id="delete_pin" class="modal">
  <%= form_for("", html: {class: 'form-horizontal'}, url: "", method: :post) do |f| %>
    <div class="modal-content">
      <button class="right close modal-close">&times;</button>
      <h4 class="modal-title"><span class="report_title"></span></h4>
      <h6>Delete Worker</h6>
      <br>
      <p>
        Are you sure you want to delete report (ID:&nbsp;
        <span class="report_id"></span>
        ), recorded at&nbsp;
        <span class="report_date"></span>
        ?
      </p>
      <%= f.hidden_field :id, value: 0, id: "delete_pin_id", name: "malaria_report[id]" %>
    </div>
    <div class="modal-footer">
      <a class="btn grey modal-close">Cancel</a>
      <%= f.submit 'Delete', class: "btn modal-close red lighten-2" %>
    </div>
  <% end %>
</div>

<div id="add_data" class="modal">
  <%= form_for("", html: {class: 'form-horizontal'}, url: "", method: :post) do |f| %>
    <div class="modal-content">
      <button class="right close modal-close">&times;</button>
      <h4 class="modal-title"><span class="report_title"></span></h4>
      <h6>Submit Report</h6>
      <br>
      <p>Are you sure you want to add a report at: <strong><span class="report_lat"></span>, <span class="report_lng"></span></strong>?</p>
      <%= f.hidden_field :lat, value: 0, id: "add_data_lat", name: "" %>
      <%= f.hidden_field :lng, value: 0, id: "add_data_lng", name: "" %>
      <div class="field form-group">
        <%= label_tag( :add_data_foreman, "Foreman:", class: "control-label" ) %>
        <%= f.text_field :foreman, value: "", id: "add_data_foreman", name: "" %>
      </div>
      <div class="field form-group">
        <%= label_tag(:add_data_dateTime, "Report Time:", class: "control-label") %>
        <%= f.text_field :dateTime, value: "", id: "add_data_dateTime", name: "" %>
      </div>
      <div class="field form-group">
        <%= label_tag(:add_data_imei, "imei:", class: "control-label") %>
        <%= f.text_field :imei, value: "", id: "add_data_imei", name: "" %>
      </div>
      <div class="field form-group">
        <%= label_tag(:add_data_chemical_used, "Chemical used:", class: "control-label") %>
        <%= f.text_field :chemical_used, value: "", id: "add_data_chemical_used", name: "" %>
      </div>
      <div class="field form-group">
        <%= label_tag(:add_data_unsprayed_rooms, "Unsprayed rooms:", class: "control-label") %>
        <%= f.text_field :unsprayed_rooms, value: "", id: "add_data_unsprayed_rooms", name: "" %>
      </div>
      <div class="field form-group">
        <%= label_tag(:add_data_unsprayed_shelters, "Unsprayed shelters:", class: "control-label") %>
        <%= f.text_field :unsprayed_shelters, value: "", id: "add_data_unsprayed_shelters", name: "" %>
      </div>
      <div class="field form-group">
        <label>
          <input type="checkbox" class="filled-in checkbox-trigger" id="add_data_is_mopup_spray" />
          <span>Is Mopup Spray</span>
        </label>
      </div>
      <%= f.fields_for @stat do |ff| %>
        <%= f.fields_for :sprayers do |fff| %>
        <% end %>
        <%= link_to_add_fields "Add Sprayer", ff, :sprayers %>
      <% end %>
  </div>
    <div class="modal-footer">
      <a class="btn grey modal-close">Cancel</a>
      <%= f.submit 'Add', class: "btn modal-close" %>
    </div>
  <% end %>
</div>

<div id="move_pin" class="modal">
  <%= form_for("", html: {class: 'form-horizontal'}, url: "", method: :post) do |f| %>
    <div class="modal-content">
      <button class="right close modal-close">&times;</button>
      <h4 class="modal-title"><span class="report_title"></span></h4>
      <h6>Edit Report</h6>
      <br>
      <p>
        Are you sure you want to change report (ID:&nbsp;
        <span class="report_id"></span>
        ) to:&nbsp;
        <strong><span class="report_lat"></span>, <span class="report_lng"></span></strong>?</p>
      <%= f.hidden_field :lat, value: 0, id: "edit_data_lat", name: "" %>
      <%= f.hidden_field :lng, value: 0, id: "edit_data_lng", name: "" %>
      <%= f.hidden_field :id, value: 0, id: "edit_pin_id", name: "malaria_report[id]" %>
    </div>
    <div class="modal-footer">
      <a class="btn grey modal-close">Cancel</a>
      <%= f.submit 'Submit', class: "btn modal-close red lighten-2" %>
    </div>
  <% end %>
</div>
