<h1>Site Permissions</h1>
<br>

<table class="table data-table">
  <tr class="highlight-row">
    <% columns = [["Name", 20], ["E-Mail", 35], ["Admin?", 10], ["", 35]] %>

    <% columns.each do |column_name, width| %>
      <% sort = column_name.downcase.gsub(/[\?\-\ ]/, "") %>
      <th width="<%= width %>%">
        <%= link_to site_permissions_admin_path(sort: sort, reverse: (sort.to_sym == @sort) ? !@reverse : false), class: "column-header" do %>
          <%= column_name %>
          <% if (@sort == sort.to_sym) %>
            <i class="fa fa-angle-<%= @reverse ? "up" : "down" %>" style="color: #aaa; vertical-align: middle;"></i>
          <% end %>
        <% end %>
      </th>
    <% end %>
  </tr>

  <% @users.each do |user| %>
    <tr class="data-row">
      <td class="user_name"><%= user.name %></td>
      <td class="user_email"><%= user.email %></td>
      <td class="user_admin">
        <% if user.admin? %>
          <span class="admin-badge badge blue lighten-2">&nbsp;admin&nbsp;</div>
        <% end %>
      </td>
      <td>
        <div class="right">
          <button class="btn admin-button modal-trigger blue lighten-3" data-target="edit_<%= user.id %>">
            <%= icon('fas', 'edit') %> Edit
          </button>
          <button class="btn admin-button modal-trigger red lighten-2" data-target="delete_<%= user.id %>">
            <%= icon('fas', 'trash') %> Delete
          </button>
        </div>


        <div id="edit_<%= user.id %>" class="modal">
          <%= form_for(user, html: {class: 'form-horizontal'}, url: change_permissions_admin_path(user.id), method: :post) do |f| %>
            <div class="modal-content">
              <button type="button" class="right close modal-close">&times;</button>
              <h4 class="modal-title"><%= user.name %> (<%= user.email %>)</h4>
              <h6>Edit User</h6>
              <br>
              <p>Indicate permissions granted to <%= user.name %>.</p>
              <%= f.hidden_field :id, value: user.id %>
              <label>
                <input type="checkbox" class="filled-in checkbox-trigger" for="admin_<%= user.id %>" <%= user.admin ? 'checked="checked"' : '' %> />
                <span>Admin</span>
              </label>
              <%= f.check_box :admin, { id:"admin_#{user.id}" } %>`
            </div>
            <div class="modal-footer">
              <a class="btn grey modal-close">Cancel</a>
              <%= f.submit 'Submit', class: "btn modal-close" %>
            </div>
          <% end %>
        </div>

        <div id="delete_<%= user.id %>" class="modal">
          <%= form_for(user, html: {class: 'form-horizontal'}, url: delete_user_admin_path(user.id), method: :post) do |f| %>
            <div class="modal-content">
              <button type="button" class="right close modal-close">&times;</button>
              <h4 class="modal-title"><%= user.name %> (<%= user.email %>)</h4>
              <h6>Delete User</h6>
              <br>
              <p>Are you sure you want to delete <%= user.name %>?</p>
              <%= f.hidden_field :id, value: user.id %>
            </div>
            <div class="modal-footer">
              <a class="btn grey modal-close">Cancel</a>
              <%= f.submit 'Delete', class: "btn modal-close red lighten-2" %>
            </div>
          <% end %>
        </div>

      </td>

    </tr>
  <% end %>
</table>
