<h1>Site Permissions</h1>
<br>

<table class="table data-table">
  <tr class="highlight-row">
    <% columns = [["Name", 20], ["E-Mail", 35], ["Admin?", 10], ["", 35]] %>

    <% columns.each do |column_name, width| %>
      <% sort = column_name.downcase.gsub(/[\?\-\ ]/, "") %>
      <th width="<%= width %>%">
        <%= link_to site_permissions_admin_path(sort: sort, reverse: (sort.to_sym == @sort) ? !@reverse : false), class: "column-header" do %>
          <%= column_name %>
          <% if (@sort == sort.to_sym) %>
            <i class="fa fa-angle-<%= @reverse ? "up" : "down" %>" style="color: #aaa; vertical-align: middle;"></i>
          <% end %>
        <% end %>
      </th>
    <% end %>
  </tr>

  <% @users.each do |user| %>
    <tr class="data-row">
      <td class="user_name"><%= user.name %></td>
      <td class="user_email"><%= user.email %></td>
      <td class="user_admin">
        <% if user.admin? %>
          <span class="admin-badge badge blue lighten-2">admin</div>
        <% end %>
      </td>
      <td>
        <button type="button" class="button button-small button-danger admin-button" data-toggle="modal" data-target="#deletePermissions_<%= user.id %>">
          <%= icon('fas', 'trash') %>
          Delete
        </button>

        <button type="button" class="button button-small button-primary admin-button" data-toggle="modal" data-target="#editPermissions_<%= user.id %>">
          <%= icon('fas', 'edit') %>
          Edit
        </button>

        <div id="editPermissions_<%= user.id %>" class="modal fade" role="dialog">
          <div class="modal-dialog modal-md">
            <%= form_for(user, html: {class: 'form-horizontal'}, url: change_permissions_admin_path(user.id), method: :post) do |f| %>
              <div class="modal-content" style="width: 600px">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"><%= user.name %> (<%= user.email %>)</h4>
                </div>
                <div class="modal-body">
                  <h6 class="l-v-bottom-spaced">Edit Permissions</h6>
                  <p class="l-v-bottom-half-spaced">Indicate permissions granted to <%= user.name %>.</p>
                  <%= f.hidden_field :id, value: user.id %>
                  <div class="field form-group">
                    <%= f.label :admin, class: "control-label"%>
                    <%= f.check_box :admin, { value: "", style: "margin-top: 10px"} %>
                  </div>
                </div>
                <div class="modal-footer">
                  <%= f.submit 'Submit', class: "button button-primary modal-default" %>
                  <button type="button" class="button" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div id="deletePermissions_<%= user.id %>" class="modal fade" role="dialog">
          <div class="modal-dialog modal-md">
            <%= form_for(user, html: {class: 'form-horizontal'}, url: delete_user_admin_path(user.id), method: :post) do |f| %>
              <div class="modal-content" style="width: 600px">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Delete <%= user.name %> (<%= user.email %>)</h4>
                </div>
                <div class="modal-body">
                  <p class="l-v-bottom-half-spaced">Are you sure you want to delete <%= user.name %>?</p>
                  <%= f.hidden_field :id, value: user.id %>
                </div>
                <div class="modal-footer">
                  <%= f.submit 'Delete', class: "button button-danger modal-default" %>
                  <button type="button" class="button" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </td>

    </tr>
  <% end %>
</table>
