<h1>View Data</h1>
<table class="table data-table">
<tr class="highlight-row">
  <% columns = [["Sprayer 1", 20], ["Sprayer 2", 20], ["Latitude", 20], ["Longitude", 20], ["Timestamp", 20]] %>

  <% columns.each do |column_name, width| %>
    <% sort = column_name.downcase.gsub(/[\?\-\ ]/, "") %>
    <% sort = "sprayer_id" if sort == "sprayer1" %>
    <% sort = "sprayer_2_id" if sort == "sprayer2" %>
    <% sort = "lat" if sort == "latitude" %>
    <% sort = "lon" if sort == "longitude" %>

    <th width="<%= width %>%">
      <%= link_to view_data_path(sort: sort, reverse: (sort.to_sym == @sort) ? !@reverse : false), class: "column-header", style: "color: black" do %>
        <%= column_name %>
        <% if (@sort == sort.to_sym) %>
          <i class="fa fa-angle-<%= @reverse ? "up" : "down" %>" style="color: #aaa; vertical-align: middle;"></i>
        <% end %>
      <% end %>
    </th>
  <% end %>
</tr>    
    
<% @data.each do |data| %>
  <% collapse_info = "data-toggle=collapse data-target=#collapse-#{data.id}" %>
  <tr class="data-row" <%= collapse_info %>>
    <td class="data_sprayer_id" >
      <%= (data.sprayer_id == "") ? "-" : data.sprayer_id%>
      <div class="collapse data-container" id = "collapse-<%= data.id %>">
          <div class="data-ddt l-v-bottom-spaced" >
              <div><strong>DDT Rooms Sprayed</strong>
                  <%= data.ddt_sprayed_rooms_1 %>
              </div>
              <div><strong>DDT Shelters Sprayed</strong>
                  <%= data.ddt_sprayed_shelters_1 %>
              </div>
          </div>
          <div class = "data-pyrethroid l-v-bottom-spaced">
              <div><strong>Pyrethroid Rooms Sprayed</strong>
                  <%= data.pyrethroid_sprayed_rooms_1 %>
              </div>
              <div><strong>Pyrethroid Shelters Sprayed</strong>
                  <%= data.pyrethroid_sprayed_shelters_1 %>
              </div>
          </div>
          <div class = "data-no-spray l-v-bottom-spaced">
              <div><strong>Unsprayed Rooms</strong>
                  <%= data.unsprayed_rooms %>
              </div>
              <div><strong>Unsprayed Shelters</strong>
                  <%= data.unsprayed_shelters %>
              </div>
          </div>
      </div>
    </td>
    <td class="data_sprayer_2_id">
        <%= (data.sprayer_2_id == "") ? "-" : data.sprayer_2_id%>
    </td>
    <td class="data_lat"><%= data.lat %></td>
    <td class="data_lon"><%= data.lon %></td>
    <td class="data_timestamp"><%= data.timestamp %></td>
  </tr>
<% end %>
</table>

