<h1>Worker Data</h1>
<br>

<div id="collapse-filter" class="collapse" style="clear: both">
  <%= form_for("#", html: {class: 'form-horizontal l-v-top-spaced', style: 'width: 100%; margin: 0px'}, method: :get) do |f| %>
    <% [["Name"], ["Worker ID", "Active"]].each do |row_labels| %>
      <% row_labels.each do |label_text| %>
        <% filter = label_text.downcase.gsub(/ /, '_') %>
        <% filter_val = @filters.has_key?(filter) ? @filters[filter] : "" %>
        <% filter_id = "worker_filter_#{filter}" %>

        <div class="field form-group" style="display: inline-block; width: 50%">
          <%= f.label label_text, "#{label_text}", for: filter_id, class: "control-label", style: "width: 30%" %>
          <% if label_text == "Active" %>
            <%= f.check_box(filter, { checked: filter_val, class: 'filter-field-checkbox', id: filter_id}) %>
          <% else %>
            <%= f.text_field label_text, class: 'form-control filter-field', style: "width: 65%; display: inline-block", id: filter_id, value: filter_val %>
          <% end %>
        </div>

      <% end %>
      <br>
    <% end %>
  <% end %>
</div>

<div class="filter-view" style="float: right">
  <strong>
    <span class="filter-view-button" data-toggle="collapse" data-target="#collapse-filter">
      <i class="fa fa-search"></i>
      <strong>Filter Workers</strong>
      <i class="fa fa-angle-up"></i>
    </span>
  </strong>
</div>

<table class="table data-table">
<tr class="highlight-row">
  <% columns = [["Worker ID", 10], ["Name", 55], ["Active", 20], ["", 15]] %>

  <% columns.each do |column_name, width| %>
    <% sort = column_name.downcase.gsub(/[\?\-\ ]/, "") %>
    <% sort = "sprayer_id" if sort == "sprayer1" %>
    <% sort = "sprayer_2_id" if sort == "sprayer2" %>
    <% sort = "lat" if sort == "latitude" %>
    <% sort = "lng" if sort == "longitude" %>

    <th width="<%= width %>%">
      <%= link_to view_workers_path(sort: sort, reverse: (sort.to_sym == @sort) ? !@reverse : false), class: "column-header", style: "color: black" do %>
        <%= column_name %>
        <% if (@sort == sort.to_sym) %>
          <i class="fa fa-angle-<%= @reverse ? "up" : "down" %>" style="color: #aaa; vertical-align: middle;"></i>
        <% end %>
      <% end %>
    </th>
  <% end %>
</tr>    
    
<% @workers.each do |worker| %>
  <% collapse_info = "data-toggle=collapse data-target=#collapse-#{worker.id}" %>
  <tr class="data-row" <%= collapse_info %>>
    <td class="worker_worker_id"><%= worker.worker_id %></td>
    <td class="worker_name"><%= worker.name %></td>
    <td class="worker_active"><%= worker.active ? "true" : "false" %></td>
    <td class="worker_edit">
      <button type="button" class="button button-small button-primary" data-toggle="modal" data-target="#edit_worker_<%= worker.id %>">
        <%= icon('fas', 'edit', class: 'strong') %>
        Edit
      </button>
      <button type="button" class="button button-small button-danger" data-toggle="modal" data-target="#delete_worker_<%= worker.id %>">
        <%= icon('fas', 'trash', class: 'strong') %>
        Delete
      </button>

      <div id="edit_worker_<%= worker.id %>" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
          <%= form_for(worker, html: {class: 'form-horizontal'}, url: edit_workers_path(worker.id), method: :post) do |f| %>
            <div class="modal-content" style="width: 600px">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Worker <%= worker.worker_id %> (<%= worker.name %>)</h4>
              </div>
              <div class="modal-body">
                <h6 class="l-v-bottom-spaced">Edit Worker Info</h6>
                <p class="l-v-bottom-half-spaced">Edit information for worker with ID: <%= worker.worker_id %>.</p>
                <%= f.hidden_field :id, value: worker.id %>
                <div class="field form-group">
                  <%= f.label :worker_id, class: "control-label" %>
                  <%= f.text_field :worker_id %>
                </div>
                <div class="field form-group">
                  <%= f.label :name, class: "control-label" %>
                  <%= f.text_field :name %>
                </div>
                <div class="field form-group">
                  <%= f.label :active, class: "control-label" %>
                  <%= f.check_box :active, { value: "", style: "margin-top: 10px"} %>
                </div>
              </div>
              <div class="modal-footer">
                <%= f.submit 'Submit', class: "button button-primary modal-default" %>
                <button type="button" class="button" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div id="delete_worker_<%= worker.id %>" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
          <%= form_for(worker, html: {class: 'form-horizontal'}, url: delete_workers_path(worker.id), method: :post) do |f| %>
            <div class="modal-content" style="width: 600px">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Worker <%= worker.worker_id %>? (<%= worker.name %>)</h4>
              </div>
              <div class="modal-body">
                <h6 class="l-v-bottom-spaced">Delete Worker</h6>
                <p class="l-v-bottom-half-spaced">Are you sure that you want to delete <%= worker.worker_id %> (<%= worker.name %>)?</p>
                <%= f.hidden_field :id, value: worker.id %>
              </div>
              <div class="modal-footer">
                <%= f.submit 'Delete', class: "button button-danger modal-default" %>
                <button type="button" class="button" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </td>
  </tr>
<% end %>
</table>
