<h1>Worker Data</h1>
<br>

<div id="collapse-filter" class="collapse" style="clear: both">
  <%= form_for("#", html: {class: 'form-horizontal', style: 'width: 100%; margin: 0px'}, method: :get) do |f| %>
    <% [["Name"], ["Worker ID", "Active"]].each do |row_labels| %>
      <% row_labels.each do |label_text| %>
        <% filter = label_text.downcase.gsub(/ /, '_') %>
        <% filter_val = @filters.has_key?(filter) ? @filters[filter] : "" %>
        <% filter_id = "worker_filter_#{filter}" %>

        <div class="field form-group" style="display: inline-block; width: 50%">
          <%= f.label label_text, "#{label_text}", for: filter_id, class: "control-label", style: "width: 30%" %>
          <% if label_text == "Active" %>
            <%= f.check_box(filter, { checked: filter_val, class: 'filter-field-checkbox', id: filter_id}) %>
          <% else %>
            <%= f.text_field label_text, class: 'form-control filter-field', style: "width: 65%; display: inline-block", id: filter_id, value: filter_val %>
          <% end %>
        </div>

      <% end %>
      <br>
    <% end %>
  <% end %>
</div>

<div class="filter-view" style="float: right">
  <strong>
    <span class="filter-view-button" data-toggle="collapse" data-target="#collapse-filter">
      <i class="fa fa-search"></i>
      <strong>Filter Workers</strong>
      <i class="fa fa-angle-up"></i>
    </span>
  </strong>
</div>

<table class="table data-table">
  <tr class="highlight-row">
    <% columns = [["Worker ID", 10], ["Name", 45], ["Active", 10], ["", 35]] %>

    <% columns.each do |column_name, width| %>
      <% sort = column_name.downcase.gsub(/[\?\-\ ]/, "") %>
      <% sort = "sprayer_id" if sort == "sprayer1" %>
      <% sort = "sprayer_2_id" if sort == "sprayer2" %>
      <% sort = "lat" if sort == "latitude" %>
      <% sort = "lng" if sort == "longitude" %>

      <th width="<%= width %>%">
        <%= link_to view_workers_path(sort: sort, reverse: (sort.to_sym == @sort) ? !@reverse : false), class: "column-header" do %>
          <%= column_name %>
          <% if (@sort == sort.to_sym) %>
            <i class="fa fa-angle-<%= @reverse ? "up" : "down" %>" style="color: #aaa; vertical-align: middle;"></i>
          <% end %>
        <% end %>
      </th>
    <% end %>
  </tr>

  <% @workers.each do |worker| %>
    <% collapse_info = "data-toggle=collapse data-target=#collapse-#{worker.id}" %>
    <tr class="data-row" <%= collapse_info %>>
      <td class="worker_worker_id"><%= worker.worker_id %></td>
      <td class="worker_name"><%= worker.name %></td>
      <td class="worker_active"><%= worker.active ? "true" : "false" %></td>
      <td class="worker_edit">

        <div class="right">
          <%= link_to view_reports_workers_path(:worker_id => worker.id), class: "btn admin-button blue lighten-3" do %>
            <%= icon('fas', 'money-bill') %> Reports
          <% end %>

          <% if @current_user.admin %>
            <button class="btn admin-button modal-trigger blue lighten-3" data-target="edit_<%= worker.id %>">
              <%= icon('fas', 'edit') %> Edit
            </button>
            <button class="btn admin-button modal-trigger red lighten-2" data-target="delete_<%= worker.id %>">
              <%= icon('fas', 'trash') %> Delete
            </button>

            <div id="edit_<%= worker.id %>" class="modal">
              <%= form_for(worker, html: {class: 'form-horizontal'}, url: edit_workers_path(worker.id), method: :post) do |f| %>
                <div class="modal-content">
                  <button type="button" class="right close modal-close">&times;</button>
                  <h4 class="modal-title">Worker <%= worker.worker_id %> (<%= worker.name %>)</h4>
                  <h6>Edit Worker Info</h6>
                  <br>
                  <p>Edit information for worker with ID: <%= worker.worker_id %>.</p>
                  <%= f.hidden_field :id, value: worker.id %>
                  <div class="field form-group">
                    <%= f.label :worker_id, class: "control-label" %>
                    <%= f.text_field :worker_id %>
                  </div>
                  <div class="field form-group">
                    <%= f.label :name, class: "control-label" %>
                    <%= f.text_field :name %>
                  </div>
                  <label>
                    <input type="checkbox" class="filled-in checkbox-trigger" for="worker_<%= worker.id %>" <%= worker.active ? 'checked="checked"' : '' %> />
                    <span>Active</span>
                  </label>
                  <%= f.check_box :active, { id:"worker_#{worker.id}" } %>`
                </div>
                <div class="modal-footer">
                  <a class="btn grey modal-close">Cancel</a>
                  <%= f.submit 'Submit', class: "btn modal-close" %>
                </div>
              <% end %>
            </div>

            <div id="delete_<%= worker.id %>" class="modal">
              <%= form_for(worker, html: {class: 'form-horizontal'}, url: delete_workers_path(worker.id), method: :post) do |f| %>
                <div class="modal-content">
                  <button type="button" class="right close modal-close">&times;</button>
                  <h4 class="modal-title"><%= worker.name %> (Worker ID: <%= worker.id %>)</h4>
                  <h6>Delete Worker</h6>
                  <br>
                  <p>Are you sure that you want to delete <%= worker.worker_id %> (<%= worker.name %>)?</p>
                      <%= f.hidden_field :id, value: worker.id %>
                </div>
                <div class="modal-footer">
                  <a class="btn grey modal-close">Cancel</a>
                  <%= f.submit 'Delete', class: "btn modal-close red lighten-2" %>
                </div>
              <% end %>
            </div>
          <% end %>

        </div>
      </td>
    </tr>
  <% end %>
</table>
