<h1>Reports for Worker: <%= @worker.name %> (ID: <%= @worker.worker_id %>)</h1>
</br>

<% if @spray_datum.length == 0 %>
  <h3>This worker has no available reports</h3>

<% elsif @spray_datum.length >= 1 %>
  <table class="table data-table">
    <tr class="highlight-row">
      <% columns = [["Date", 40], ["SP1 Forms", 30], ["SP2 & SP3 Forms", 30]] %>

      <% columns.each do |column_name, width| %>
        <% sort = column_name.downcase.gsub(/[\?\-\ ]/, "") %>
        <% sort = "timestamp" if sort == "date" %>
        <% sort = "sprayer_2_id" if sort == "sprayer2" %>
        <% sort = "lat" if sort == "latitude" %>
        <% sort = "lng" if sort == "longitude" %>

        <th width="<%= width %>%">
          <%= link_to view_workers_path(sort: sort, reverse: (sort.to_sym == @sort) ? !@reverse : false), class: "column-header" do %>
            <%= column_name %>
            <% if (@sort == sort.to_sym) %>
              <i class="fa fa-angle-<%= @reverse ? "up" : "down" %>" style="color: #aaa; vertical-align: middle;"></i>
            <% end %>
          <% end %>
        </th>
      <% end %>
    </tr>

    <% @spray_datum.each do |first_of_week, week_spray_data| %>
      <% foreman_this_week = false %>
      <% sprayer_this_week = false %>
      <% @foreman_for_date[first_of_week].each do |day, foreman_true|%>
        <% foreman_this_week = true if foreman_true %>
      <% end %>
      <% @sprayer_for_date[first_of_week].each do |day, sprayer_true|%>
        <% sprayer_this_week = true if sprayer_true %>
      <% end %>
      <tr class="data-row">
          <td>
            <h6>Week <%= first_of_week.cweek %></h6>
            </br>
            <% week_begin = first_of_week - first_of_week.wday%>
            <% week_end = first_of_week + (6 - first_of_week.wday)%>
            <%= "#{week_begin.month}/#{week_begin.day}/#{week_begin.year}" %> - <%= "#{week_end.month}/#{week_end.day}/#{week_end.year}" %>
          </td>
          <td>
          </td>
          <td>
            <% if sprayer_this_week %>
              <%= link_to sp3_form_workers_path(:worker_id => @worker.id, :week => first_of_week.cweek, :mode => "sprayer"), class: "button button-small button-primary", target: :_blank do %>
                <%= icon('fas', 'file-image') %>
                SP3 (Sprayer)
              <% end %>
            <% end %>

            <% if foreman_this_week %>
              <%= link_to sp3_form_workers_path(:worker_id => @worker.id, :week => first_of_week.cweek, :mode => "foreman"), class: "button button-small button-primary", target: :_blank do %>
                <%= icon('fas', 'file-image') %>
                SP3 (Foreman)
              <% end %>
            <% end %>

          </td>
      </tr>

      <% week_spray_data.each do |date, spray_data| %>
        <tr class="data-row">
          <td>
            <%= date %>
          </td>
          <td>
            <% @chem_per_date[date].each do |chemical| %>
              <% chemical == "N/A" ? chemical_label = "No Spray" : chemical_label = chemical %>
              <%= link_to sp1_form_workers_path(:worker_id => @worker.id, :date => Date.strptime(spray_data[0].timestamp), :chemical => chemical), class: "button button-small button-primary", target: :_blank do %>
                <%= icon('fas', 'file-image') %>
                <%= "SP1 (#{chemical_label})"  %>
              <% end %>
            <% end %>

          </td>
          <td>
            <% if @sprayer_for_date[first_of_week][date] %>
              <%= link_to sp2_form_workers_path(:worker_id => @worker.id, :date => Date.strptime(spray_data[0].timestamp), :mode => "sprayer"), class: "button button-small button-primary", target: :_blank do %>
                <%= icon('fas', 'file-image') %>
                SP2 (Sprayer)
              <% end %>
            <% end %>

            <% if @foreman_for_date[first_of_week][date] %>
              <%= link_to sp2_form_workers_path(:worker_id => @worker.id, :date => Date.strptime(spray_data[0].timestamp), :mode => "foreman"), class: "button button-small button-primary", target: :_blank do %>
                <%= icon('fas', 'file-image') %>
                SP2 (Foreman)
              <% end %>
            <% end %>

          </td>
        </tr>
      <% end %>

    <% end %>
  </table>
<% end %>
