<h1>View Malaria Reports</h1>
<br>

<div class="course-subtitle">
  <div id="collapse-filter" class="collapse" style="clear: both">
    <%= form_for("#", html: {class: 'form-horizontal l-v-top-spaced', style: 'width: 100%; margin: 0px'}, method: :get) do |f| %>
      <% [["Report Date", "Reporter"], ["Latitude", "Longitude"]].each do |row_labels| %>
        <% row_labels.each do |label_text| %>
          <% filter = label_text.downcase.gsub(/ /, '_') %>
          <% filter_val = @filters.has_key?(filter) ? @filters[filter] : "" %>
          <% filter_id = "report_filter_#{filter}" %>

          <div class="field form-group" style="display: inline-block; width: 50%">
            <%= f.label label_text, "#{label_text}", for: filter_id, class: "control-label", style: "width: 30%" %>
            <%= f.text_field label_text, class: 'form-control filter-field', style: "width: 65%; display: inline-block", id: filter_id, value: filter_val %>
          </div>

        <% end %>
        <br>
      <% end %>
    <% end %>
  </div>

  <div class="filter-view" style="float: right">
    <strong>
      <span class="filter-view-button" data-toggle="collapse" data-target="#collapse-filter">
        <i class="fa fa-search"></i>
        <strong>Filter Reports</strong>
        <i class="fa fa-angle-up"></i>
      </span>
    </strong>
  </div>
</div>

<table class="table data-table">
  <tr class="highlight-row">
    <% columns = [["Report Date", 10], ["Reporter", 35], ["Latitude", 10], ["Longitude", 10], ["", 35]] %>

    <% columns.each do |column_name, width| %>
      <% sort = column_name.downcase.gsub(/ /, "_") %>
      <% sort = "lat" if sort == "latitude" %>
      <% sort = "lng" if sort == "longitude" %>

      <th width="<%= width %>%">
        <%= link_to view_malaria_reports_path(sort: sort, reverse: (sort.to_sym == @sort) ? !@reverse : false), class: "column-header" do %>
          <%= column_name %>
          <% if (@sort == sort.to_sym) %>
            <i class="fa fa-angle-<%= @reverse ? "up" : "down" %>" style="color: #aaa; vertical-align: middle;"></i>
          <% end %>
        <% end %>
      </th>
    <% end %>
  </tr>

  <% @reports.each do |report| %>
    <% collapse_info = "data-toggle=collapse data-target=#collapse-#{report.id}" %>
    <tr class="data-row" <%= collapse_info %>>
      <td class="report_report_date"><%= report.report_date %></td>
      <td class="report_reporter"><%= report.reporter %></td>
      <td class="report_latitude"><%= report.lat %></td>
      <td class="report_longitude"><%= report.lng %></td>
      <td class="report_buttons">

        <div class="right">
          <button class="btn admin-button modal-trigger blue lighten-3" data-target="edit_<%= report.id %>">
            <%= icon('fas', 'edit') %> Edit
          </button>
          <button class="btn admin-button modal-trigger red lighten-2" data-target="delete_<%= report.id %>">
            <%= icon('fas', 'trash') %> Delete
          </button>
        </div>

        <div id="edit_<%= report.id %>" class="modal">
          <%= form_for(report, html: {class: 'form-horizontal'}, url: edit_malaria_reports_path(report.id), method: :post) do |f| %>
            <div class="modal-content">
              <button type="button" class="right close modal-close">&times;</button>
              <h4 class="modal-title">Edit Malaria Report <%= report.id %></h4>
              <h6>Edit Malaria Report</h6>
              <br>
              <p>Edit information for malaria report.</p>
              <%= f.hidden_field :id, value: report.id %>
              <% [:report_date, :reporter].each do |category| %>
                <div class="field form-group">
                  <%= f.label category, class: "control-label" %>
                  <%= f.text_field category %>
                </div>
              <% end %>
            </div>
            <div class="modal-footer">
              <a class="btn grey modal-close">Cancel</a>
              <%= f.submit 'Submit', class: "btn modal-close" %>
            </div>
          <% end %>
        </div>

        <div id="delete_<%= report.id %>" class="modal">
          <%= form_for(report, html: {class: 'form-horizontal'}, url: delete_malaria_reports_path(report.id), method: :post) do |f| %>
            <div class="modal-content">
              <button type="button" class="right close modal-close">&times;</button>
              <h4 class="modal-title">Delete Malaria Report</h4>
              <h6>Delete Report</h6>
              <br>
              <p>Are you sure you want to delete report (ID: <%= report.id %>), recorded at <%= report.report_date %>?</p>
              <%= f.hidden_field :id, value: report.id %>
            </div>
            <div class="modal-footer">
              <a class="btn grey modal-close">Cancel</a>
              <%= f.submit 'Delete', class: "btn modal-close red lighten-2" %>
            </div>
          <% end %>
        </div>

      </td>
    </tr>
  <% end %>
</table>
