<div class="nav" data-no-transition-cache>
  <div class="nav_header">
    <div class="nav_userInfo">
      <div class="nav_userIcon">
        <% if current_user.profile_img == nil %>
          <i class="fa fa-user"></i>
        <% else %>
          <img src="<%= current_user.profile_img %>" class="profile" />
        <% end %>
      </div>
      <div class="nav_username"><%= "#{current_user.name}" %></div>
      <div class="nav_email"><%= "#{current_user.email}" %></div>
    </div>
  </div>
  <ul class="nav_items">

    <%= link_to root_path, class: "sidebar_item dashboard" do %>
      <li class="nav_item">
        <%= icon('fas', 'map') %>
        &nbsp;
        Dashboard
      </li>
    <% end %>

    <%= link_to view_spray_data_path, class: "sidebar_item spray_data" do %>
      <li class="nav_item">
        <%= icon('fas', 'chart-line') %>
        &nbsp;
        View Spray Data
      </li>
    <% end %>  

    <%= link_to view_malaria_reports_path, class: "sidebar_item malaria_reports" do %>
      <li class="nav_item">
        <%= icon('fas', 'flag') %>
        &nbsp;
        View Malaria Reports
      </li>
    <% end %>  

    <%= link_to view_workers_path, class: "sidebar_item workers" do %>
      <li class="nav_item">
        <%= icon('fas', 'address-card') %>
        &nbsp;
        View Worker Info
      </li>
    <% end %>  

    <% if current_user.admin? %>
      <%= link_to site_permissions_admin_path, class: "sidebar_item admin" do %>
        <li class="nav_item">
          <%= icon('fas', 'cog') %>
          &nbsp;
          Site Admin
        </li>
      <% end %>
    <% end %>

    <%= link_to signout_path, class: "sidebar_item logout" do %>
      <li class="nav_item">
        <%= icon('fas', 'sign-out-alt') %>
        &nbsp;
        Sign out
      </li>
    <% end %>

  </ul>
</div>
